.user-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.posts + .user-images {
  margin-top: 10px;
}

.user-images a {
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 400px) {
  .user-images {
    grid-template-columns: 1fr;
  }
}
