.user-desc {
  align-self: center;
  text-align: center;
}

.desc {
  font-weight: 500;
  font-size: 21px;
  line-height: 0.95;
}

.name {
  font-size: 25px;
  line-height: 0.9;
}

.user-desc h2 + h3 {
  margin-top: 2px;
}

.user-desc h2 + a,
.user-desc h3 + a {
  display: inline-block;
  margin-top: 2px;
}

.user-desc h3 + h4 {
  margin-top: 5px;
}

.user-desc a + h4 {
  margin-top: 4px;
}

.followers,
.following,
.followed-by {
  font-weight: 400;
  color: #111111;
  font-size: 16px;
}

.followers span,
.following span {
  font-weight: 600;
  color: #0e0e0e;
}

.followed-by + .reload-button,
.posts + .reload-button {
  margin-top: 10px;
}

.reload-button {
  cursor: pointer;
  border: none;
  border: 1px solid #aaa;
  background: white;
  padding: 10px 10px;
  border-radius: 5px;
  color: #222;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.reload-button:active,
.reload-button:focus {
  background: #25018811;
}

.reload-button:hover {
  background: rgba(12, 12, 12, 0.1);
}

.reload-button + .user-images {
  margin-top: 10px;
}
